@{
    ViewBag.Title = "NYC Cab Fare Calculator";
}

<div class="container" ng-app="app" ng-controller="cabfareCalculator">
    <header></header>
    <div ui-view>
    </div>
    <footer></footer>
</div>